<!DOCTYPE html>
<html lang="ko">


<!-- CSS는 여러개가 동시에 들어갈 경우도 있음. 요건 좀더 고민해보기ㅋ-->
<head th:include="/ari/layout/partials/head (additionalCss='/css/ari/shopcontent.css')"></head>

<body>

<header>
    <h1 class="hidden_text">GS Shop</h1>

    <blc:categories resultVar="navCategories" parentCategory="Primary Nav" maxResults="5"/>

    <ul class="gnb">
        <li th:each="navCategory : ${navCategories}" th:classappend="${navCategory.id} == ${category.defaultParentCategory.id}? 'on'" th:unless="${#strings.isEmpty(navCategory.url)}">
            <a th:href="@{${navCategory.url}}">
                <img class="onImg" th:src="@{${navCategory.categoryMedia['icon'].url}}" alt="Home"/>
                <span th:text="${navCategory.name}">카테고리명</span>
            </a>
        </li>
    </ul>

    <div class="depth1_wrap">
        <div id="main_tab_list" class="depth1_area swiper-container">
            <div class="top_menu_bg02" style="display: block;">
                <div class="hidden_text">좌측메뉴 더보기</div>
            </div>

            <blc:categories resultVar="subCategories" parentCategory="Home" />

            <ul class="depth1_menu left swiper-wrapper" style="padding-left: 0px; padding-right: 0px; width: 737px; height: 44px; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); transition: 0.1s; -webkit-transition: 0.1s;">
                <li class="swiper-slide swiper-slide-visible"  th:classappend="${subCategory.id} == ${category.id}? 'on'" th:each="subCategory : ${subCategories}" th:unless="${#strings.isEmpty(subCategory.url)}">
                    <a th:href="@{${subCategory.url}}">
                        <span th:text="${subCategory.name}">카테고리명</span>
                    </a>
                </li>
            </ul>

            <div class="top_menu_bg" style="display: block;">
                <div class="hidden_text">우측메뉴 더보기</div>
            </div>
        </div>
    </div>
</header>
<section id="main_area" class="bodyContents" data-section-url="/main/bestdeal?mseq=W00054">
    <input type="hidden" id="pageListArea" value="dealList"/>

    <blc:content contentType="Homepage Banner Ad"/>
    <div id="banner_area" th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}">
        <a th:href="@{${contentItem['targetUrl']}}">
            <img th:src="@{${contentItem['imageUrl']}}"/>
        </a>
    </div>


    <!-- 딜리스트 시작 -->
    <div id="dealList">
        <div th:include="/ari/layout/partials/productList"></div>
    </div>
    <!-- 딜리스트 끝 -->
</section>

<div class="loading_cont">
    <div id="moreDiv" class="moreDiv" style="display: none;">
        <span id="moreBtn" class="loading15" style="cursor:default"></span>
    </div>
</div>

<div class="page_top" style="display: block;">
    <img src="http://image.gsshop.com/ui/gsshop/shop/images/btn_top.png" alt="위로"/>
</div>

<div class="quick_link_area">
    <ul class="quick_link_con">
        <li class="quick_home on ">
            <a href="/index.gs?mseq=398049">
                <div><em></em><span>홈</span>
                </div>
            </a>
        </li>
        <li class="quick_category">
            <a href="/m/sect/category.gs?mseq=398050">
                <div><em></em><span>카테고리</span>
                </div>
            </a>
        </li>
        <li class="quick_search">
            <a href="/m/search/searchNewMain.gs?mseq=398051">
                <div><em></em><span>검색</span>
                </div>
            </a>
        </li>
        <li class="quick_cart">
            <a href="/mobile/cart/viewCart.gs?mseq=398052">
                <div><em></em><span>스마트카트</span>
                </div>
            </a>
        </li>
        <li class="quick_ship">
            <a href="/mygsshop/myOrderList.gs?mseq=398053">
                <div><em></em><span>주문배송</span>
                </div>
            </a>
        </li>
        <li class="quick_shopping">
            <a href="/mygsshop/myshopInfo.gs?mseq=398054">
                <div><em></em><span>마이쇼핑</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="pop_bottom" style="background:#36425c">
    <div class="pop_bottom_wrapper">
        <h4><a href="javascript:;"
               onclick="AppExec.appExecute('gsshopmobile://home?http://m.gsshop.com/event/apply_cok.jsp','')"><img
                src="http://image.gsshop.com/planprd/banner_MOBILE/23028279_01.jpg"/></a></h4>
    </div>
</div>
<footer id="footer" role="contentinfo">
    <ul class="footer_menu">
        <li>
            <div class="footer_sub"><a href="#">로그아웃</a>
            </div>
        </li>
        <li>
            <div class="footer_sub"><a href="/mygsshop/myshopInfo.gs?gsid=MCfooter">마이쇼핑</a>
            </div>
        </li>
        <li>
            <div class="footer_sub"><a href="/mygsshop/customerCenter.gs?gsid=MCfooter">고객센터</a>
            </div>
        </li>
        <li>
            <div class="footer_sub"><a href="/main/lastprd.gs?gsid=MCfooter">최근본상품</a>
            </div>
        </li>
    </ul>
    <address>
        <br>
            <strong>(주)지에스홈쇼핑 대표이사 허태수</strong>서울시 영등포구 선유로 75 GS강서타워 호스팅제공자 (주)지에스홈쇼핑
        </br>
        <br>
            사업자등록번호 117-81-13253 통신판매업신고 영등포구청 제 2002-00068호
        </br>
        <a href="#" target="_blank" class="footer_link">사업자정보확인</a>
        <a href="/mobile/etc/etc_loan.jsp" class="footer_link">기업은행 채무지급 보증안내</a>
        <br>
            고객센터 1899-4455 <a href="mailto:gsshop@gsshop.com">gsshop@gsshop.com</a>
        </br>
    </address>

    <div class="footer_sub_nav">
        <a href="/m/mygsshop/articleMain.gs">이용약관</a>
        <a href="/m/mygsshop/appDownGuide.gs?gsid=MCfooter">앱다운로드</a>
        <a href="/m/mygsshop/payGuideIphoneApp.gs?gsid=MCfooter">결제안내</a>
    </div>

    <div id="copyright">© GS HOMESHOPPING</div>
</footer>

<script src="/js/ari/jquery-1.8.2.min.js"></script>
<script src="//cdn.rawgit.com/fredwu/jquery-endless-scroll/2.0-rewrite/js/jquery.endless-scroll.js"></script>
<script>

    $('#dealList').({
        fireOnce: false,
        insertAfter: "#dealList > div.tvShopping_contents:last",
        data: function(i) {
            console.log("test");
            return $.ajax({
                        url : location.href,
                        async : false,
                        data : {
                            page : i
                        }
                    });
        }
    });

</script>
</body>

</html>