<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, , initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title th:text="${product.name}">상품명</title>
    <link type="text/css" rel="stylesheet" href="/css/ari/common.css"/>
    <link type="text/css" rel="stylesheet" href="/css/ari/productstyle.css"/>

    <link rel="stylesheet" href="/css/ari/idanger.css"/>
</head>

<body class="prd_ontv_popup">
<div id="container">

    <header id="headline" class="sub_header_area">
        <div id="div_staff_limit"></div>
        <p class="category_back_btn"><a href="javascript:history.back();">뒤로가기</a>
        </p>

        <h1 class="sub_category_tit">상품보기</h1><span class="sub_category_subtitle"></span>
        <a href="" onclick="snsSharePopup()" class="sub_category_button" style="border:none;">
            <span>
                <img class="snsPopup" src="http://image.gsshop.com/ui/gsshop/product/images/top_sns_btn.png" alt="SNS 팝업"/>
            </span>
        </a>

        <div id="div_orderchange_btn"></div>
    </header>



    <section class="prdWrap">
        <div class="prdPhotoWrap">
            <div class="swiper-container">

                <div class="prdPhoto swiper-wrapper">
                    <div class="swiper-slide" th:each="media, iterStat : ${product.media}">
                        <img th:src="@{${media.value.url}}"  alt="상품 이미지"/>
                    </div>
                </div>

                <div class="prdPhotoPaging">
                    <p>
                        <button type="button"><span class="mgoodsImg prev">앞으로</span>
                        </button>
                        <b><span class="nowDisplayImageNumber">1</span> / <span class="imageCount">5</span></b>
                        <button type="button"><span class="mgoodsImg next">뒤로</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <h1 class="prdNames" th:text="${product.name}">상품명이랑께</h1>
    </section>
    <!--상품 기본정보  -->
    <div class="prdInfoWrap">
        <div class="priceInfo priceInfoN278000">

            <dl th:if="${product instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                <dt>판매가</dt>
                <dd>
                    <span blc:price="${product.salePrice}" th:if="${product.onSale}"></span>
                    <span blc:price="${product.retailPrice}" th:if="${!product.onSale}"></span>
                    원
                </dd>
            </dl>
            <dl th:unless="${product instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                <dt>판매가</dt>
                <dd>
                    <span blc:price="${product.defaultSku.salePrice}" th:if="${product.defaultSku.onSale}"></span>
                    <span blc:price="${product.defaultSku.retailPrice}" th:if="${!product.defaultSku.onSale}"></span>
                    원
                </dd>
            </dl>
        </div>

        <dl class="discountInfo">
            <dt>할인쿠폰</dt>
            <dd><a href="" class="coupone"><span></span><b>1,000원 할인쿠폰 </b><span></span></a><span class="couponeOk hidden">1,000원 할인쿠폰  적용</span></dd>
            <dt class="cardDiscount">카드할인<a href="javascript:;" class="btnTip" id="btnTipCard"><em class="mgoodsImg">카드할인안내</em></a></dt>
            <dd class="cardDiscount"> <u class="mgoodsImg"></u>BC <b>7%</b></dd>
        </dl>

    </div>

    <div class="prdInfoWrap">
        <dl class="discountInfo">
            <dt>옵션</dt>
            <dd>
                <blc:product_options productId="${product.id}" />
                <div id="product-option-data" hidden="hidden" th:attr="data-product-option-pricing=${skuPricing}, data-product-options=${allProductOptions}" />

                <ul>
                    <li th:each="productOption : ${product.productOptions}" th:object="${productOption}" class="product-option-group cf" th:classappend="*{type.type == 'COLOR'}? 'colors'">
                        <label th:text="*{label}"></label>:
                        <span th:id="*{attributeName}" class="option-value" th:attr="data-optiontype=*{type.type}"></span>
                        <ul class="cf" th:switch="*{type.type}">
                            <li th:case="'TEXT'">
                                <input th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" maxlength="255" />
                            </li>
                            <li th:case="'SELECT'">
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>
                            </li>
                            <li th:case="'TEXTAREA'">
                                <textarea th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" />
                            </li>
                            <li th:case="'DECIMAL'">
                                <input th:name="${'itemAttributes[' + productOption.attributeName + ']'}" value="" th:type="*{type}" th:required="*{required}" maxlength="10" />
                            </li>
                            <li th:case="*" th:remove="tag">
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>

                                <!--<li th:each="optionValue : *{allowedValues}" blc:product_option_value="${optionValue}" th:object="${optionValue}" th:classappend="${productOption.type.type == 'COLOR'}? ${optionValue.attributeValue}" >-->
                                <!--<div>-->
                                <!--<a href="#" class="option-label" th:text="*{attributeValue}"  ></a>-->
                                <!--</div>-->
                                <!--</li>-->
                            </li>
                        </ul>
                    </li>
                </ul>
            </dd>

            <dt>
            </dt>
            <dd>
                <div class="floating_btn addToCart">
                    <label class="ext btn_price">
                        구매하기
                    </label>
                </div>
            </dd>
        </dl>
    </div>

    <!--tootip: 카드할인안내  s-->
    <div class="tipContent" id="tipCardContent" style="display: none; top: 0px; left: 0px;">
        <h1 class="title">카드할인안내</h1>
        <ul class="noti notiCard">
            <li><span class="prodImgN icon" title="bullet"></span>KB국민카드 <b>7%</b> 청구할인
                <br/><span class="tot">(5만원 ↑, ~12.23)</span>
            </li>
            <li><span class="prodImgN icon" title="bullet"></span>신한카드 <b>5%</b> 청구할인
                <br/><span class="tot">(5만원 ↑, ~12.22)</span>
            </li>
        </ul>
    </div>
    <div class="tabWrap">
        <nav>
            <ul class="prdTab">
                <li class="on" data-contentelement=".buyingInfo">
                    <a>구매정보<em class="mgoodsImg arrowUnder"></em></a>
                </li>
                <li class="prdDescriptionTab" data-contentelement=".prdDescription">
                    <a>상품설명<em class="mgoodsImg arrowUnder"></em></a>
                </li>
            </ul>
        </nav>
        <!-- 구매정보-->
        <div class="buyingInfo buyInfo_edit" style="display: block;">
            <div class="displayInfo sellNum">
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>상품코드 :</dt>
                    <dd>814692363</dd>
                </dl>
            </div>
            <div class="displayInfo buyInfo_edit02">
                <!-- 세계로 배송 -->
                <dl>
                    <dt>
                        <span class="prodImgN icon" title="bullet"></span>세계로 배송
                        <a href="javascript:;" class="btnTip" id="global01">
                            <em class="mgoodsImg">세계로배송안내</em>
                        </a>
                    </dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>배송비</dt>
                    <dd>무료</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>평균배송일
                        <a href="javascript:;" class="btnTip" id="btnTipDlv"><em class="mgoodsImg">평균배송일안내</em></a>
                    </dt>
                    <dd>3일 (3일내 배송 99%)</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>무이자</dt>
                    <dd><b>10</b>개월</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>적립금/포인트</dt>
                    <dd>270P</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>제휴카드적립</dt>
                    <dd>5,560원</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>제조사</dt>
                    <dd>(주)베네트홀딩스</dd>
                </dl>
                <dl>
                    <dt><span class="prodImgN icon" title="bullet"></span>원산지</dt>
                    <dd>중국</dd>
                </dl>
            </div>
            <div class="prdInfoListWrap">
                <!--일반정보 s-->
                <section class="productInfoToggle" data-wcstype="normalinfo"><a class="toggleTitle toggleClose"><h3
                        class="title">일반정보</h3><span class="mgoodsImg arrowDown" title="내용을 보여준다"></span> </a>

                    <div class="toggleContent prdTabHidden">
                        <div class="generalInfoWrap">
                            <dl>
                                <dt>제품 소재 (섬유의 조성 또는 혼용률을 백분율로 표시)</dt>
                                <dd><span></span>겉감 폴리에스터 57% 면43% 배색1 폴리에스터95% 폴리우레탄 5% 배색2 천연모피(라쿤털) 충전재:
                                    오리털(솜털80:깃털20) 안감:폴리에스터100%
                                </dd>
                            </dl>
                            <dl>
                                <dt>공통색상</dt>
                                <dd><span></span>해당없음</dd>
                            </dl>
                            <dl>
                                <dt>선택색상</dt>
                                <dd><span></span>네이비,카키,레드,아이보리</dd>
                            </dl>
                            <dl>
                                <dt>치수</dt>
                                <dd><span></span>55,66,77</dd>
                            </dl>
                            <dl>
                                <dt>제조자, 수입품의 경우 수입자를 함께 표기</dt>
                                <dd><span></span>(주)베네트홀딩스</dd>
                            </dl>
                            <dl>
                                <dt>제조국</dt>
                                <dd><span></span>중국</dd>
                            </dl>
                            <dl>
                                <dt>제조연월</dt>
                                <dd><span></span>2014.10</dd>
                            </dl>
                            <dl>
                                <dt>기본구성</dt>
                                <dd><span></span>다운코트1</dd>
                            </dl>
                            <dl>
                                <dt>세탁방법 및 취급시 주의사항</dt>
                                <dd><span></span>단독 드라이크리닝</dd>
                            </dl>
                            <dl>
                                <dt>A/S 책임자와 전화번호</dt>
                                <dd><span></span>GSSHOP 고객센터 1899-4500</dd>
                            </dl>
                            <dl>
                                <dt>품질보증기간</dt>
                                <dd><span></span>1년</dd>
                            </dl>
                            <dl>
                                <dt>품질보증기준</dt>
                                <dd><span></span>공정거래위원회 고시(소비자분쟁해결기준)에 의거하여 보상해 드립니다.</dd>
                            </dl>
                            <dl>
                                <dt>반품/취소 가능일</dt>
                                <dd><span></span>■착용 전 일 경우 수령 후 15일 이내 반품 가능 ■외부착용/ 세탁/ 수선 후 반품 불가</dd>
                            </dl>
                        </div>
                        <p class="noteGuide">위 내용은 상품정보제공 고시에 따라 작성되었습니다.</p>
                    </div>
                </section>
                <!--카드할인 s-->
                <section class="productInfoToggle" data-wcstype="cardInfo"><a class="toggleTitle toggleClose"><h3
                        class="title">카드할인</h3><span class="mgoodsImg arrowDown" title="내용을 보여준다"></span> </a>

                    <div class="toggleContent prdTabHidden">
                        <div class="discountInfo">
                            <dl>
                                <dt>KB국민카드 <b>7%</b> 청구할인 :</dt>
                                <dd>258,540원 <span class="exceptionTxt">(5만원 ↑, ~12.23)</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>신한카드 <b>5%</b> 청구할인 :</dt>
                                <dd>264,100원 <span class="exceptionTxt">(5만원 ↑, ~12.22)</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="cardInfo">
                            <dl>
                                <dt>카드할인 안내</dt>
                                <dd>
                                    <ul>
                                        <li><span></span>카드할인은 결제 시점이 아닌 카드 대금 청구 시점에 할인됩니다.</li>
                                        <li><span></span>행사카드로 결제된 금액이 할인기준금액 이상이어야 할인이 적용됩니다.</li>
                                        <li><span></span>행사카드로 결제된 금액에 대해서만 할인이 적용됩니다.</li>
                                        <li><span></span>1인당 일 최대 청구할인 한도까지만 할인이 적용됩니다.</li>
                                        <li><span></span>단, 하나SK 모바일카드의 경우 청구할인 기간 중 1인당 최대 2만원(기간 중 누적 할인 금액)까지만 할인이
                                            적용됩니다.
                                        </li>
                                        <li><span></span>하나SK 모바일카드가 아닌 하나SK 일반카드는 청구할인 대상에서 제외됩니다.</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>카드할인이 적용되지 않는 경우</dt>
                                <dd>
                                    <ul>
                                        <li><span></span>체크카드/법인카드/기프트카드 제외</li>
                                        <li><span></span>전화주문/ARS주문/상담원을 통한 주문 시 제외
                                            <br/><span class="exceptionTxt">(인터넷 주문시에만 적용)</span>
                                        </li>
                                        <li><span></span>행사카드 외 결제수단으로 최초 결제 후 행사카드로 결제 변경 시 제외</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </section>
                <!--배송정보 s-->
                <section class="productInfoToggle" data-wcstype="deliInfo"><a class="toggleTitle toggleClose"><h3
                        class="title">배송정보</h3><span class="mgoodsImg arrowDown" title="내용을 보여준다"></span> </a>

                    <div class="toggleContent prdTabHidden">
                        <dl>
                            <dt>배송 예상 기간</dt>
                            <dd>
                                <ul>
                                    <li><span class="prodImgN icon iconNo" title="bullet"></span>무료배송 서비스를 제공해 드리고 있지만
                                        일부 지역/사이즈에 따라 배송비가 발생할 수 있으니 양해바랍니다.
                                    </li>
                                    <li><span class="prodImgN icon iconNo" title="bullet"></span>무료배송, 3일내 배송가능 (국내 배송
                                        시)
                                        <br/><span class="exceptionTxt">(토,일,공휴일 제외)</span>

                                        <p class="blank"></p>결제완료 다음날부터 3일내 배송율 99%
                                        <br/> (상품결제완료 후 일반적인 배송가능기간입니다)
                                    </li>
                                    <li><span class="prodImgN icon iconNo" title="bullet"></span>해외배송시 국가와 지역별로 배송기간과
                                        배송비 차이가 있습니다.
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>배송 가능 지역</dt>
                            <dd>
                                <ul>
                                    <li><span class="prodImgN icon iconNo" title="bullet"></span>상세정보를 참고해 주시기 바랍니다</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </section>
                <!--반품교환 s-->
                <section class="productInfoToggle"><a class="toggleTitle toggleClose"><h3 class="title">반품교환</h3><span
                        class="mgoodsImg arrowDown" title="내용을 보여준다"></span></a>

                    <div class="toggleContent prdTabHidden">
                        <dl>
                            <dt>반품/교환 안내</dt>
                            <dd>
                                <ul>
                                    <li><span></span>반품배송비 : 무료</li>
                                    <li><span></span>교환배송비 : 무료</li>
                                    <li><span></span>상품불량 및 오배송등의 이유로 반품하실 경우, 반품 배송비는 무료입니다.</li>
                                    <li><span></span>나의 쇼핑정보 내 반품/교환신청 메뉴에서 바로 접수가 가능합니다.</li>
                                    <li><span></span>반품신청시 즉시 환불처리됩니다.(카드사 사정에 따라 카드취소는 시일이 소요될 수 있습니다.)</li>
                                    <li><span></span>반품 접수 후 영업일 기준 2~5일 이내에 직접 방문하여 상품을 수거합니다.</li>
                                    <li><span></span>세계로 배송 상품의 반품 시 배송시는 고객님 부담이며, 배송비는 국가와 지역에 따라 차이가 있습니다.</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>반품/교환 가능시점</dt>
                            <dd>
                                <ul class="htmlArea">
                                    <li><span></span>

                                        <p>반품 및 교환은 상품 수령 후 30일 이내에 신청하실 수 있습니다.
                                            <br/>단, 의류/언더웨어/보석/서적/잡화/컴퓨터/디지털기기는 15일, 핸드폰은 14일 이내에 신청하실 수 있습니다.</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>반품/교환 불가사유
                            <p class="exceptionTxt">다음의 경우에는 반품/교환이 불가합니다.</p></dt>
                            <dd>
                                <ul class="htmlArea">
                                    <li><span></span>

                                        <p>반품/교환 가능기간을 초과하였을 경우
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>상품 및 구성품을 분실하였거나 취급부주의로 인한 파손/고장/오염된 경우
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>고객님의 요청에 의해 상품사양이 변경(이니셜 상품, 사이즈 맞춤 상품 등)된 경우는 제작이 시작된 이후 취소 및 반품/교환이 불가
                                            합니다.</p>
                                    </li>
                                    <li><span></span>

                                        <p>상품을 착용하였거나 세탁, 수선한 경우</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>반품/교환 참고사항</dt>
                            <dd>
                                <ul class="htmlArea">
                                    <li><span></span>

                                        <p>반품/교환시 고객님 귀책사유로 인해 수거가 지연될 경우에는 반품이 제한될 수 있습니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>일부 상품의 경우, 제조사의 사정(신모델 출시 등) 및 부품 가격변동 등에 의해 가격이 변동 될 수 있으며, 이로 인한 반품 및 가격보상은
                                            불가합니다.</p>
                                    </li>
                                    <li><span></span>

                                        <p>명품은 택 제거 후 반품 불가합니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>일부 세트 상품의 부분 반품 및 교환이 불가하오니 양해바랍니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>홀로그램 등을 분리/분실/훼손하여 상품의 가치가 현저히 감소하여 재판매가 불가하였을 경우 반품 및 교환이 제한될 수 있습니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>상품특성상 측정방법에 따라 표기된 사이즈의 오차가 있을 수 있습니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>인터넷 판매의 특성상 수선 서비스가 불가합니다.
                                        </p>
                                    </li>
                                    <li><span></span>

                                        <p>일부상품은 트러블 발생 시 소견서, 진료 확인서 중 1가지를 첨부하셔야 반품이 가능합니다. (단, 기타 제반 비용은 고객님의
                                            부담입니다.)</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>미성년자 권리보호 안내</dt>
                            <dd>
                                <ul>
                                    <li><span></span>구매자가 미성년자인 경우에는 상품 구입시 법정 대리인이 동의하지 아니하면 미성년자 본인 또는 법정 대리인이 구매 취소할
                                        수 있습니다.
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </section>
                <!--품질검사 s-->
            </div>
        </div>
        <!--tootip: 세계로 배송  s-->
        <div class="tipContent global-tip-cont" id="btnTipGlobalView" style="display: none; top: 0px; left: 0px;">
            <h1 class="global-tootip-tit">GS SHOP 세계로 배송 서비스</h1>
            <ul class="global-delivery-tip-info">
                <li><strong>전세계 모든 국가</strong>로 상품배송 가능</li>
                <li>국내 최저가 해외 배송비
                    <br/><span>(EMS대비 20%~65% 저렴)</span>
                </li>
                <li>해외묶음배송 가능</li>
                <li>빠르고 안전한 배송 서비스
                    <br/><span>(배송추적가능)</span>
                </li>
                <li>세계로 배송은 장바구니에서 하단의
                    <br/><strong>세계로 배송보내기 버튼</strong>을 통해 이용
                    <br/>하실 수 있습니다.
                </li>
            </ul>
            <div class="btn-global-shop-link"><a href="/m/mygsshop/forgn/information.gs" class="btn-global-go">세계로 배송
                이용안내</a>
            </div>
        </div>
        <!--tootip: 평균배송일  s-->
        <div class="tipContent" id="tipDlvContent" style="display: none; top: 0px; left: 0px;">
            <ul class="noti notiCard">
                <li><span class="prodImgN icon" title="bullet"></span>상품 결제 완료후 일반적인 배송기간이며 지역에 따라 변경될수 있습니다. (토,일, 공휴일
                    제외)
                </li>
            </ul>
        </div>
        <!-- 상품정보-->
        <div class="prdDescription" style="display: none;">
            <div th:utext="*{longDescription}" class="descriptionContents" style="min-height: 100px;"></div>

            <!--<header>-->
                <!--<p>아래 이미지는 미리보기 화면으로-->
                    <!--<br/>실제 상품정보와 차이가 있을 수 있습니다.</p><a href="/prd/prdDesc.gs?prdid=14692363" class="btnZoom"-->
                                                       <!--target="_blank">원본보기</a>-->
            <!--</header>-->
            <!--<div class="descriptionContents">-->
                <!--&lt;!&ndash; 기술서 영역 &ndash;&gt;-->
                <!--<div id="productDescription" class="htmlArea"></div>-->
            <!--</div>-->
            <!--<footer><a href="/prd/prdDesc.gs?prdid=14692363" class="btnZoom" target="_blank">원본보기</a>-->
            <!--</footer>-->
        </div>
        <nav>
            <ul class="prdTabBtm"></ul>
        </nav>
    </div>
    <!-- 추천정보 -->
    <div class="jointInformationWrap">
        <!-- GS 추천상품  -->
        <div id="mobileGsRecommend">
            <section class="brandRecommandWrap visibleNgsRcmd" id="gsRcmd">
                <header>
                    <h2 class="title">고객님을 위한 추천상품</h2>
                </header>

                <blc:related_products productId="${product.id}"/>

                <div class="swiper-container" id="gsRecomList">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide swiper-slide-duplicate" th:each="relatedProduct : ${relatedProducts}">
                            <div class="RecomWrap">
                                <a th:href="@{${relatedProduct.relatedProduct.url}}">
                                    <figure>
                                        <img th:if="${relatedProduct.relatedProduct.media['primary']}" th:src="@{${relatedProduct.relatedProduct.media['primary'].url} + '?browse'}" th:alt="${relatedProduct.relatedProduct.name}" />
                                    </figure>

                                    <p class="price" th:if="${relatedProduct.relatedProduct instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                                        <b blc:price="${relatedProduct.relatedProduct.relatedProduct.salePrice}" th:if="${relatedProduct.relatedProduct.onSale}" th:classappend="${relatedProduct.relatedProduct.defaultSku.onSale}? 'sale'"></b>
                                        <b blc:price="${relatedProduct.relatedProduct.retailPrice}" th:classappend="${relatedProduct.relatedProduct.onSale}? 'has-sale'"></b>
                                        원
                                    </p>
                                    <p class="price" th:unless="${relatedProduct.relatedProduct instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                                        <b blc:price="${relatedProduct.relatedProduct.defaultSku.salePrice}" th:if="${relatedProduct.relatedProduct.defaultSku.onSale}" th:classappend="${relatedProduct.relatedProduct.defaultSku.onSale}? 'sale'"></b>
                                        <b blc:price="${relatedProduct.relatedProduct.defaultSku.retailPrice}" th:classappend="${relatedProduct.relatedProduct.defaultSku.onSale}? 'has-sale'"></b>
                                        원
                                    </p>

                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="prdPhotoPaging">
                        <p>
                            <button type="button"><span class="mgoodsImg prev">앞으로</span>
                            </button>
                            <b><span class="nowDisplayImageNumber">1</span> / <span class="imageCount">2</span></b>
                            <button type="button"><span class="mgoodsImg next">뒤로</span>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="pagination"><span
                        class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span
                        class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span>
                </div>
            </section>
        </div>

    </div>

    <div class="page_top" style="display: none;"><img src="http://image.gsshop.com/ui/gsshop/shop/images/btn_top.png"
                                                      alt="위로"/>
    </div>
    <div class="pop_bottom" style="background:#36425c">
        <div class="pop_bottom_wrapper">
            <h4><a href="javascript:;" onclick=""></a></h4>
        </div>
    </div>

    <footer id="footer" role="contentinfo">
        <ul class="footer_menu">
            <li>
                <div class="footer_sub"><a href="">로그아웃</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/mygsshop/myshopInfo.gs?gsid=MCfooter">마이쇼핑</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/mygsshop/customerCenter.gs?gsid=MCfooter">고객센터</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/main/lastprd.gs?gsid=MCfooter">최근본상품</a>
                </div>
            </li>
        </ul>
        <address><strong>(주)지에스홈쇼핑 대표이사 허태수</strong>서울시 영등포구 선유로 75 GS강서타워 호스팅제공자 (주)지에스홈쇼핑<br/>사업자등록번호 117-81-13253
            통신판매업신고 영등포구청 제 2002-00068호<br/><a href="" target="_blank" class="footer_link">사업자정보확인</a> <a
                    href="/mobile/etc/etc_loan.jsp" class="footer_link">기업은행 채무지급 보증안내</a><br/>고객센터 1899-4455 <a
                    href="mailto:gsshop@gsshop.com">gsshop@gsshop.com</a></address>
        <div class="footer_sub_nav"><a href="/m/mygsshop/articleMain.gs">이용약관</a><a href="">앱다운로드</a><a href="">결제안내</a>
        </div>
        <div id="copyright">© GS HOMESHOPPING</div>
    </footer>

    <blc:form method="POST" id="cartAddForm" th:action="@{/cart/add}">
        <input type="hidden" name="productId" th:value="${product.id}" />
        <input type="hidden" name="quantity" value="1" />
    </blc:form>

    <script type="text/javascript" src="/js/ari/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/BLC.js"></script>
    <script type="text/javascript" src="/js/ari/drag.js"></script>
    <script type="text/javascript" src="/js/ari/product.js"></script>
</div>
</body>

</html>