<!DOCTYPE HTML>
<html xmlns:blc="http://www.w3.org/1999/xhtml">

<meta charset="utf-8"/>
<title>홈화면</title>

<body>

<nav>
    <blc:categories resultVar="navCategories" parentCategory="Primary Nav" maxResults="6"/>

    <ul>
        <li th:each="category : ${navCategories}" th:unless="${#strings.isEmpty(category.url)}">
            <a class="home" th:href="@{${category.url}}" th:text="${category.name}"></a>

            <ul>
                <li th:each="subCategory : ${category.childCategories}"
                    th:unless="${#strings.isEmpty(subCategory.url)}">
                    <a class="" th:href="@{${subCategory.url}}" th:text="${category.name}"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


<content>

    <blc:content contentType="Homepage Banner Ad"/>
    <div id="banner" th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}">
        <a th:href="@{${contentItem['targetUrl']}}">
            <img th:src="@{${contentItem['imageUrl']}}"/>
        </a>
    </div>


    <ul id="products" class="group">
        <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
    </ul>

</content>

</body>
</html>
