<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<!--<head th:include="/layout/partials/head (pageTitle='Broadleaf Demo - Heat Clinic')"></head>-->
<!--*************-->
<!--기존 head시작-->
<!--*************-->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title th:unless="${pageTitle == 'TEMPLATE'}"
       th:text="${#strings.isEmpty(pageTitle) ? 'Broadleaf Demo - Heat Clinic' : pageTitle}"></title>

<title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
    <title th:inline="text" th:include="${templateName} :: title"/>
</title>

<meta name="description" content="Broadleaf Demo Store"/>
<meta name="author" content="Broadleaf Commerce"/>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
<meta name="viewport" content="width=device-width"/>

<blc:bundle name="style.css"
            mapping-prefix="/css/"
            files="style.css,
                       jquery.rating.css"/>

<link rel="stylesheet" th:unless="${#strings.isEmpty(additionalCss)}"/>


<script src="../../js/libs/modernizr-2.5.3.min.js" th:src="@{/js/libs/modernizr-2.5.3.min.js}"></script>

<blc:google_universal_analytics ordernumber="${order?.orderNumber}"/>
<!--*************-->
<!--기존 head종료-->
<!--*************-->


<body>
<div id="notification_bar"></div>
<header th:substituteby="layout/partials/header"/>

<div id="content" class="width_setter group" role="main">

    <!--<nav th:substituteby="layout/partials/nav" />-->
    <!--**** ****-->
    <!--네비 시작-->
    <!--**** ****-->
    <nav>
        <div th:remove="all">
            <!--
                 This template displays the navigation of the site by looking up the category named "Nav"
                 and building a list of the categories sub-categories.
            -->
        </div>
        <blc:categories resultVar="navCategories" parentCategory="Primary Nav" maxResults="6"/>

        <ul>
            <li th:each="category : ${navCategories}" th:unless="${#strings.isEmpty(category.url)}">
                <a class="home" th:href="@{${category.url}}" th:class="${categoryStat.first}? 'home'"
                   th:text="${category.name}"></a>
            </li>
        </ul>
    </nav>
    <!--**** ****-->
    <!--네비 종료-->
    <!--**** ****-->


    <blc:content contentType="Homepage Banner Ad"/>
    <div id="banners"
         th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}">
        <a th:href="@{${contentItem['targetUrl']}}"><img th:src="@{${contentItem['imageUrl']}}"/></a>
    </div>

    <blc:content contentType="Homepage Middle Promo Snippet"/>

    <a th:href="@{/register}" th:if="${contentItem !=null and contentItem['htmlContent'] !=null}"
       style="text-decoration:none">
        <div id="home_feature" th:utext="${contentItem['htmlContent']}"></div>
    </a>


    <blc:content contentType="Homepage Featured Products Title"/>
    <div th:if="${contentItem !=null and contentItem['messageText'] !=null}" class="title_bar"
         th:text="${contentItem['messageText']}"></div>

    <ul id="products" class="group">
        <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem"
            class="product_container"></li>
    </ul>
</div>

<!--<footer th:substituteby="layout/partials/footer" />-->
<!--*********-->
<!--푸터 시작-->
<!--*********-->

<footer class="group">
    <div id="left_content">
        <h4><span th:text="#{footer.delivering}">Delivering Texas Sized Heat</span></h4>
        &copy; <span th:text="#{footer.copyrightHC}">Copyright 2013 The Heat Clinic</span><br/>
        <a href=""><span th:text="#{footer.privacyPolicy}">Privacy Policy</span></a>
    </div>
    <div id="right_content">
        <h4><span th:text="#{footer.since1978}">Since Nineteen Seventy Eight</span></h4>
        <span th:text="#{footer.allRights}">All Rights Reserved</span>.<br/>
        <a href=""><span th:text="#{footer.customerService}">Customer Service</span></a>
    </div>
    <div id="blc_brand">
        <a href="http://www.broadleafcommerce.com">
            <img th:src="@{/img/broadleaf-seal.png}" alt="Broadleaf Commerce"/>
            <h4><span th:text="#{footer.branding.poweredByBLC}">Powered by Broadleaf Commerce</span></h4>
            <br/>
        </a>

        <p>&copy; <span th:text="#{footer.branding.copyrightBLC}">Copyright 2013 Broadleaf Commerce</span><br/></p>
    </div>

    <div th:remove="all">
        <!--
            Include this template at the bottom of a page (automatically included by partials/footer.html
            to gain access to jQuery and other plugins used throughout the site.

            We will attempt to load the jQuery library from Google's CDN, but fallback on our own provided
            jQuery if necessary.

            Other than this jQuery loading script, no other scripts should be defined inline.
        -->
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
        //]]>
    </script>

    <blc:bundle name="lib.js"
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js"/>

    <blc:bundle name="heatclinic.js"
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js"/>

</footer>
<!--*********-->
<!--푸터 종료-->
<!--*********-->

</body>
</html>
