<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, , initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>

    <title>주문상세내역 - GS SHOP</title>
    <link type="text/css" rel="stylesheet" href="./style/asis/common.css"/>
    <link type="text/css" rel="stylesheet" href="./style/asis/product.css"/>
    <script type="text/javascript" src="./js/jquery-1.8.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style/asis/style.css"/>
</head>

<body>
    <div id="container">

        <header id="headline" class="sub_header_area">
            <div id="div_staff_limit"></div>
            <p class="category_back_btn"><a href="#">뒤로가기</a>
            </p>
            <h1 class="sub_category_tit">주문상세내역</h1><span class="sub_category_subtitle"></span>
            <div id="div_orderchange_btn"></div>
        </header>



        <h1 class="accessible-hide">주문상세내역</h1>
        <section class="order-detail-record">
            <header>
                <h1 class="accessible-hide">주문서 상품/배송지/할인&#160;결제 정보</h1>
            </header>
            <section class="order-item">
                <h1 class="level-one-title"><strong>2014.03.07</strong><em class="order-number">(주문번호:627268025)</em></h1>
                <article class="item-information clearfix" id="itemChanlCd0" data-chanlcd="B">
                    <h1 class="accessible-hide"></h1>
                    <div class="item-thumb-area">
                        <p class="product-image-area">
                            <a href="/prd/prd.gs?lseq=361587&#160;prdid=12760202"><img src="http://image.gsshop.com/image/12/76/12760202_H1.jpg" onerror="this.src='http://image.gsshop.com/mobile/mc/images/common/thumb_noimg_tv.jpg'" class="product-image" alt=""/>
                            </a>
                        </p>
                        <!-- TODO 오늘의 딜 화면 표시 시작 -->
                        <!-- //오늘의 딜 화면 표시 끝 -->
                    </div>
                    <!-- 20140828 모바일 쿠폰 추가 마크업 -->
                    <!-- 20140828 //모바일 쿠폰 추가 마크업 -->
                    <dl class="item-data-list-area"><dt class="delivery-information-state"><strong>주문취소완료</strong></dt>
                        <!-- 상품배송 일자 표시 --><dt class="product-name"><a href="/prd/prd.gs?lseq=361587&#160;prdid=12760202">[BONBIEN] 모던핀턱 제깅스팬츠 3종택1 BN41-J02M</a></dt>
                        <dd class="product-option">옵션 : BN41-J02BK_블랙 L</dd>
                        <dd class="product-price"><strong>8,900</strong>원</dd>
                        <dd class="product-quantity"><em>수량1개</em>
                        </dd>
                    </dl>
                </article>
                <article class="order-delivery">
                    <h1 class="level-one-title">배송지</h1>
                        <dl class="delivery-information"><dt class="information-term">주문고객</dt>
                        <dd class="information-define">테스터</dd>
                        <!-- 일반 상품인 경우 시작 --><dt class="information-term">받으실분</dt>
                        <dd class="information-define">테스터</dd><dt class="information-term">휴대폰번호</dt>
                        <dd class="information-define">010-1111-****</dd><dt class="information-term">전화번호</dt>
                        <dd class="information-define">011-1234-****</dd><dt class="information-term">배송주소</dt>
                        <dd class="information-define">서울 영등포구 문래동 !!배송금지!! 테스트 주문입니다.</dd><dt class="information-term">배송메모</dt>
                        <dd class="information-define">없음</dd>
                        <!-- //일반 상품인 경우 시작 -->
                    </dl>
                </article>
                <!-- 문자쿠폰 사용내역 시작-->
                <!-- 문자쿠폰 사용내역 끝 -->
                <!-- 문자쿠폰 배송정보 시작-->
                <!-- 문자쿠폰 배송정보 끝 -->
            </section>
            <section class="order-payment">
                <header class="payment-information">
                    <h1 class="level-one-title">할인/결제정보</h1>
                    <!-- 비회원일 경우 해당 버튼 노출하지 않는다 -->
                    <!-- 비회원일 경우 해당 버튼 노출하지 않는다 -->
                </header>
                <div class="payment-relation-information">
                    <article class="payment-amount">
                        <h1 class="accessible-hide">결제금액</h1>
                        <dl class="amount-information"><dt class="information-term">총 상품금액</dt>
                            <dd class="information-define"><em class="apply-amount">0</em>원</dd><dt class="information-term total-discount-amount">총 할인금액</dt>
                            <dd class="information-define"><em class="apply-amount">0</em>원</dd><dt class="information-term last-payment-amount">최종결제금액</dt>
                            <dd class="information-define"><strong class="last-payment-amount">0</strong>원</dd>
                        </dl>
                    </article>
                    <!-- //비회원일 경우 할인/혜택 적용 노출하지 않는다 -->
                    <article class="discount-benefit-apply">
                        <h1 class="accessible-hide">할인/혜택 적용</h1>
                        <dl class="benefit-information"> </dl>
                    </article>
                    <!-- TODO  포인트 결제 정보에 따른 화면 내용 및 스타일 확인 필요 -->
                    <article class="point-payment-information">
                        <h1 class="accessible-hide">포인트 결제정보</h1>
                        <dl class="payment-information"></dl>
                    </article>
                    <article class="payment-method">
                        <h1 class="accessible-hide">신용카드취소</h1>
                        <dl class="method-information"><dt class="information-term">신용카드취소</dt>
                            <dd class="information-define"><em class="apply-amount">11,400</em>원</dd>
                            <dd class="information-define">2014.03.07</dd>
                            <dd class="information-define"><strong> 5428-796*-****-8842</strong>
                            </dd>
                        </dl>
                    </article>
                </div>
                <!-- 2014-12-01 안내문구 추가-->
                <p id="cardDiscountInfo2" class="payment-means-selection-guide" style="display:none">표시되는 신용카드 청구예정 금액은 1인당 일 최대 청구할인 한도에 따라 달라질 수 있습니다. <b>(법인/체크/기프트카드 청구할인 제외)</b>
                </p>
                <!-- //2014-12-01 안내문구 추가-->
            </section>
          
            <footer class="bottom-link-buttons">
                <p class="buttons-information"><a href="" class="link-order-delivery-current-state-go">주문배송현황 돌아가기</a>
                </p>
            </footer>
        </section>
        <div id="push"></div>

    </div>





    <div class="page_top" style="display: none;"><img src="http://image.gsshop.com/ui/gsshop/shop/images/btn_top.png" alt="위로"/>
    </div>
    <div class="quick_link_area">
        <ul class="quick_link_con">
            <li class="quick_home">
                <a href="/index.gs?mseq=398049">
                    <div><em></em><span>홈</span>
                    </div>
                </a>
            </li>
            <li class="quick_category">
                <a href="/m/sect/category.gs?mseq=398050">
                    <div><em></em><span>카테고리</span>
                    </div>
                </a>
            </li>
            <li class="quick_search">
                <a href="/m/search/searchNewMain.gs?mseq=398051">
                    <div><em></em><span>검색</span>
                    </div>
                </a>
            </li>
            <li class="quick_cart">
                <a href="/mobile/cart/viewCart.gs?mseq=398052">
                    <div><em></em><span>스마트카트</span>
                    </div>
                </a>
            </li>
            <li class="quick_ship">
                <a href="/mygsshop/myOrderList.gs?mseq=398053">
                    <div><em></em><span>주문배송</span>
                    </div>
                </a>
            </li>
            <li class="quick_shopping">
                <a href="/mygsshop/myshopInfo.gs?mseq=398054">
                    <div><em></em><span>마이쇼핑</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <footer id="footer" role="contentinfo">
        <ul class="footer_menu">
            <li>
                <div class="footer_sub"><a href="#">로그아웃</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/mygsshop/myshopInfo.gs?gsid=MCfooter">마이쇼핑</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/mygsshop/customerCenter.gs?gsid=MCfooter">고객센터</a>
                </div>
            </li>
            <li>
                <div class="footer_sub"><a href="/main/lastprd.gs?gsid=MCfooter">최근본상품</a>
                </div>
            </li>
        </ul> <address><strong>(주)지에스홈쇼핑 대표이사 허태수</strong>서울시 영등포구 선유로 75 GS강서타워  호스팅제공자 (주)지에스홈쇼핑<br/>사업자등록번호 117-81-13253 통신판매업신고 영등포구청 제 2002-00068호<br/><a href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2002318011730200068&#160;area1=6110000&#160;area2=&#160;currpage=1&#160;searchKey=01&#160;searchVal=%C1%F6%BF%A1%BD%BA%C8%A8%BC%EE%C7%C-" target="_blank" class="footer_link">사업자정보확인</a> <a href="/mobile/etc/etc_loan.jsp" class="footer_link">기업은행 채무지급 보증안내</a><br/>고객센터 1899-4455 <a href="mailto:gsshop@gsshop.com">gsshop@gsshop.com</a></address>
        <div class="footer_sub_nav"><a href="/m/mygsshop/articleMain.gs">이용약관</a><a href="/m/mygsshop/appDownGuide.gs?gsid=MCfooter">앱다운로드</a><a href="/m/mygsshop/payGuideIphoneApp.gs?gsid=MCfooter">결제안내</a>
        </div>
        <div id="copyright">© GS HOMESHOPPING</div>
    </footer>
    <section>

        <noscript>&lt;img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=588919104536691&#160;amp;ev=NoScript" /&gt;</noscript>

    </section>

</body>

</html>